body {
    color: white;
    background-image: url("https://autodiffusion.laborie.ms/templates/captain/img/interface/fond_titre.png");
    text-align: center;
    max-width: 100%;
}

h1 {
    color: dimgray;
    font-size:40px;
    font-family: Roboto;
}

p {
    color: dimgray;
    font-family: Roboto;
}

ul {
    color: dimgray;
    max-width: 450px;
    display: inline-block;
    margin: auto;
    text-align: left;
    font-family: "Courier New";
}

h2 {
    color: darkslategray;
    font-family: Roboto;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    position: center;
}
